<a href="https://colab.research.google.com/github/TonyMB17/Pokemon/blob/main/Pokemon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [69]:
import pandas as pd #libreria especializada en el manejo y an√°lisis de estructuras de datos.
pokemon = pd.read_csv('pokemon.csv')

In [70]:
pokemon.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,5,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [71]:
pd.unique(pokemon['Legendary'])#Mostrando los valores de pokemon legendario

array([False,  True])

In [72]:
pokemon.isna().sum()

#               0
Name            1
Type 1          0
Type 2        386
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

In [73]:
#pokemon faltante
print(pokemon[pokemon['Name'].isnull()])

     # Name    Type 1 Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
62  63  NaN  Fighting    NaN  65     105       60       60       70     95

    Generation  Legendary
62           1      False

In [74]:
print(pokemon['Name'][61])
print(pokemon['Name'][pokemon['Name'].isnull()])
print(pokemon['Name'][63])

Mankey
62    NaN
Name: Name, dtype: object
Growlithe

In [75]:
pokemon['Name'][62] = "Primeape" #llenando el campo con el naombre del pokemon faltante

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [76]:
#llenando los datos con null, 
pokemon["Type 2"]=pokemon["Type 2"].fillna("null")

In [77]:
pokemon.isna().sum()

#             0
Name          0
Type 1        0
Type 2        0
HP            0
Attack        0
Defense       0
Sp. Atk       0
Sp. Def       0
Speed         0
Generation    0
Legendary     0
dtype: int64

In [78]:
# Tomando columnas importantes
pokemon=pokemon[['HP','Attack','Defense','Sp. Atk','Sp. Def','Speed','Legendary']] 

# Este elimina las filas que tengan algun nulo, dropna elimina datos nulos
pokemon=pokemon.dropna() 
#Luego eliminados los duplicados
pokemon=pokemon.drop_duplicates()

In [79]:
pokemon.head()

   HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  Legendary
0  45      49       49       65       65     45      False
1  60      62       63       80       80     60      False
2  80      82       83      100      100     80      False
3  80     100      123      122      120     80      False
4  39      52       43       60       50     65      False

In [80]:
pokemonDatax=pokemon[['HP','Attack','Defense','Sp. Atk','Sp. Def','Speed']]  #los datax son las datos de entradas
pokemonDatay=pokemon[['Legendary']] #datay son los datos de salida
print(pokemonDatay.head(),"\n", pokemonDatax.head())  #mostrar

   Legendary
0      False
1      False
2      False
3      False
4      False
    HP  Attack  Defense  Sp. Atk  Sp. Def  Speed
0  45      49       49       65       65     45
1  60      62       63       80       80     60
2  80      82       83      100      100     80
3  80     100      123      122      120     80
4  39      52       43       60       50     65

In [81]:
pokemon.describe() #El m√©todo se utiliza para calcular algunos datos estad√≠sticos

               HP      Attack     Defense     Sp. Atk     Sp. Def       Speed
count  779.000000  779.000000  779.000000  779.000000  779.000000  779.000000
mean    69.168164   79.021823   73.657253   72.287548   71.653402   67.761232
std     25.589979   32.646400   31.375565   32.720001   27.891371   29.067415
min      1.000000    5.000000    5.000000   10.000000   20.000000    5.000000
25%     50.000000   55.000000   50.000000   48.000000   50.000000   45.000000
50%     65.000000   75.000000   70.000000   65.000000   70.000000   65.000000
75%     80.000000  100.000000   90.000000   94.000000   90.000000   90.000000
max    255.000000  190.000000  230.000000  194.000000  230.000000  180.000000

In [82]:
#se divide en intervalos
pd.cut(pokemonDatax['HP'],[0,20,40,60,80,100,120,140,160,180,200,220,240,260])

0      (40, 60]
1      (40, 60]
2      (60, 80]
3      (60, 80]
4      (20, 40]
         ...
795    (40, 60]
796    (40, 60]
797    (60, 80]
798    (60, 80]
799    (60, 80]
Name: HP, Length: 779, dtype: category
Categories (13, interval[int64, right]): [(0, 20] < (20, 40] < (40, 60] < (60, 80] < ... <
                                          (180, 200] < (200, 220] < (220, 240] < (240, 260]]

In [83]:
#remplazando el valor de pokemonDatax por los intervalos HP
pokemonDatax['HP']=pd.cut(pokemonDatax['HP'],[0,20,40,60,80,100,120,140,160,180,200,220,240,260])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [84]:
pd.cut(pokemonDatax['Attack'],[0,20,40,60,80,100,120,140,160,180,200])

0        (40, 60]
1        (60, 80]
2       (80, 100]
3       (80, 100]
4        (40, 60]
          ...
795     (80, 100]
796    (140, 160]
797    (100, 120]
798    (140, 160]
799    (100, 120]
Name: Attack, Length: 779, dtype: category
Categories (10, interval[int64, right]): [(0, 20] < (20, 40] < (40, 60] < (60, 80] < ... <
                                          (120, 140] < (140, 160] < (160, 180] < (180, 200]]

In [85]:
#remplazando el valor de pokemonDatax por los intervalos HP
pokemonDatax['Attack']=pd.cut(pokemonDatax['Attack'],[0,20,40,60,80,100,120,140,160,180,200])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [86]:
pd.cut(pokemonDatax['Defense'],[0,20,40,60,80,100,120,140,160,180,200,220,240])#dando intervalo de Defense 230

0        (40, 60]
1        (60, 80]
2       (80, 100]
3      (120, 140]
4        (40, 60]
          ...
795    (140, 160]
796    (100, 120]
797      (40, 60]
798      (40, 60]
799    (100, 120]
Name: Defense, Length: 779, dtype: category
Categories (12, interval[int64, right]): [(0, 20] < (20, 40] < (40, 60] < (60, 80] < ... <
                                          (160, 180] < (180, 200] < (200, 220] < (220, 240]]

In [87]:
#remplazando el valor de pokemonDatax por los intervalos Defense
pokemonDatax['Defense']=pd.cut(pokemonDatax['Defense'],[0,20,40,60,80,100,120,140,160,180,200,220,240])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [88]:
pd.cut(pokemonDatax['Sp. Atk'],[10,20,30,40,50,60,70,80,90,100,110,120,130,140,150,160,170,180,190,200])

0        (60, 70]
1        (70, 80]
2       (90, 100]
3      (120, 130]
4        (50, 60]
          ...
795     (90, 100]
796    (150, 160]
797    (140, 150]
798    (160, 170]
799    (120, 130]
Name: Sp. Atk, Length: 779, dtype: category
Categories (19, interval[int64, right]): [(10, 20] < (20, 30] < (30, 40] < (40, 50] < ... <
                                          (160, 170] < (170, 180] < (180, 190] < (190, 200]]

In [89]:
#remplazando el valor de pokemonDatax por los intervalos Sp. Atk
pokemonDatax['Sp. Atk']=pd.cut(pokemonDatax['Sp. Atk'],[10,20,30,40,50,60,70,80,90,100,110,120,130,140,150,160,170,180,190,200])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [90]:
pd.cut(pokemonDatax['Sp. Def'],[20,30,40,50,60,70,80,90,100,110,120,130,140,150,160,170,180,190,200,210,220,230])

0        (60, 70]
1        (70, 80]
2       (90, 100]
3      (110, 120]
4        (40, 50]
          ...
795    (140, 150]
796    (100, 110]
797    (120, 130]
798    (120, 130]
799      (80, 90]
Name: Sp. Def, Length: 779, dtype: category
Categories (21, interval[int64, right]): [(20, 30] < (30, 40] < (40, 50] < (50, 60] < ... <
                                          (190, 200] < (200, 210] < (210, 220] < (220, 230]]

In [91]:
pokemonDatax['Sp. Def']=pd.cut(pokemonDatax['Sp. Def'],[20,30,40,50,60,70,80,90,100,110,120,130,140,150,160,170,180,190,200,210,220,230])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [92]:
pd.cut(pokemonDatax['Speed'],[0,10,20,30,40,50,60,70,80,90,100,110,120,130,140,150,160,170,180])

0        (40, 50]
1        (50, 60]
2        (70, 80]
3        (70, 80]
4        (60, 70]
          ...
795      (40, 50]
796    (100, 110]
797      (60, 70]
798      (70, 80]
799      (60, 70]
Name: Speed, Length: 779, dtype: category
Categories (18, interval[int64, right]): [(0, 10] < (10, 20] < (20, 30] < (30, 40] < ... <
                                          (140, 150] < (150, 160] < (160, 170] < (170, 180]]

In [93]:
pokemonDatax['Speed']=pd.cut(pokemonDatax['Speed'],[0,10,20,30,40,50,60,70,80,90,100,110,120,130,140,150,160,170,180])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [94]:
pokemonDatax.head(10) #mostrando elementos

         HP      Attack     Defense     Sp. Atk     Sp. Def      Speed
0  (40, 60]    (40, 60]    (40, 60]    (60, 70]    (60, 70]   (40, 50]
1  (40, 60]    (60, 80]    (60, 80]    (70, 80]    (70, 80]   (50, 60]
2  (60, 80]   (80, 100]   (80, 100]   (90, 100]   (90, 100]   (70, 80]
3  (60, 80]   (80, 100]  (120, 140]  (120, 130]  (110, 120]   (70, 80]
4  (20, 40]    (40, 60]    (40, 60]    (50, 60]    (40, 50]   (60, 70]
5  (40, 60]    (60, 80]    (40, 60]    (70, 80]    (60, 70]   (70, 80]
6  (60, 80]   (80, 100]    (60, 80]  (100, 110]    (80, 90]  (90, 100]
7  (60, 80]  (120, 140]  (100, 120]  (120, 130]    (80, 90]  (90, 100]
8  (60, 80]  (100, 120]    (60, 80]  (150, 160]  (110, 120]  (90, 100]
9  (40, 60]    (40, 60]    (60, 80]    (40, 50]    (60, 70]   (40, 50]

In [95]:
#muestra los duplicados dentro del dataX
pokemonDatax.duplicated(keep=False)

0      False
1       True
2      False
3      False
4      False
       ...
795    False
796    False
797    False
798    False
799    False
Length: 779, dtype: bool

In [96]:
#son un tipo de datos pandas correspondientes a variables categ√≥ricas en estad√≠sticas
from pandas.core.arrays import categorical #valor categorico, toman una variable limitada
pokemonDatax.loc[:,'HP'],categoriaHP=pd.factorize(pokemonDatax['HP'],sort=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [97]:
pokemonDatax.loc[:,'Attack'],categoriaAttack=pd.factorize(pokemonDatax['Attack'],sort=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [98]:
pokemonDatax.loc[:,'Defense'],categoriaDef=pd.factorize(pokemonDatax['Defense'],sort=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [99]:
pokemonDatax.loc[:,'Sp. Atk'],categoriaSA=pd.factorize(pokemonDatax['Sp. Atk'],sort=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [100]:
pokemonDatax.loc[:,'Sp. Def'],categoriaSD=pd.factorize(pokemonDatax['Sp. Def'],sort=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [101]:
pokemonDatax.loc[:,'Speed'],categoriaSp=pd.factorize(pokemonDatax['Speed'],sort=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [102]:
pokemonDatax.head(10)

   HP  Attack  Defense  Sp. Atk  Sp. Def  Speed
0   2       2        2        5        4      4
1   2       3        3        6        5      5
2   3       4        4        8        7      7
3   3       4        6       11        9      7
4   1       2        2        4        2      6
5   2       3        2        6        4      7
6   3       4        3        9        6      9
7   3       6        5       11        6      9
8   3       5        3       14        9      9
9   2       2        3        3        4      4

In [103]:
#Normalizar los datos
from sklearn.preprocessing import StandardScaler

In [104]:
scaler=StandardScaler()    #calcula el valor medio y varianza de las caracter√≠sticas
scaler.fit(pokemonDatax)     #calcula la media para poder hacer la transformaciom
print(scaler.mean_)

[2.83568678 3.36071887 3.06803594 5.51604621 4.4338896  6.06418485]

In [105]:
#Ajuste a los datos y luego transf√≥rmelos.
pokemonDatax=scaler.fit_transform(pokemonDatax)  
pokemonDatax

array([[-0.64916416, -0.82764726, -0.68183529, -0.15755922, -0.15913226,
        -0.70634257],
       [-0.64916416, -0.2194046 , -0.04343422,  0.14776076,  0.20762523,
        -0.36415298],
       [ 0.12763904,  0.38883805,  0.59496685,  0.75840074,  0.94114022,
         0.3202262 ],
       ...,
       [ 0.12763904,  0.99708071, -0.68183529,  2.28500068,  2.04141271,
        -0.02196339],
       [ 0.12763904,  2.21356602, -0.68183529,  2.89564065,  2.04141271,
         0.3202262 ],
       [ 0.12763904,  0.99708071,  1.23336793,  1.6743607 ,  0.57438273,
        -0.02196339]])

In [106]:
#combierte el dato boolean de la salida a numeros (1=true , 0 = false)
pokemonDatay.loc[:,'Legendary'],categoriAge=pd.factorize(pokemonDatay['Legendary'],sort=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [107]:
print(pokemonDatax, pokemonDatay)

[[-0.64916416 -0.82764726 -0.68183529 -0.15755922 -0.15913226 -0.70634257]
 [-0.64916416 -0.2194046  -0.04343422  0.14776076  0.20762523 -0.36415298]
 [ 0.12763904  0.38883805  0.59496685  0.75840074  0.94114022  0.3202262 ]
 ...
 [ 0.12763904  0.99708071 -0.68183529  2.28500068  2.04141271 -0.02196339]
 [ 0.12763904  2.21356602 -0.68183529  2.89564065  2.04141271  0.3202262 ]
 [ 0.12763904  0.99708071  1.23336793  1.6743607   0.57438273 -0.02196339]]      Legendary
0            0
1            0
2            0
3            0
4            0
..         ...
795          1
796          1
797          1
798          1
799          1

[779 rows x 1 columns]