<a href="https://colab.research.google.com/github/TonyMB17/Pokemon/blob/main/Pokemon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd #libreria especializada en el manejo y an√°lisis de estructuras de datos.
pokemon = pd.read_csv('pokemon.csv')

In [3]:
pokemon.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,5,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [4]:
pd.unique(pokemon['Legendary'])#Mostrando los valores de pokemon legendario

array([False,  True])

In [5]:
pokemon.isna().sum()

#               0
Name            1
Type 1          0
Type 2        386
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

In [6]:
#pokemon faltante
print(pokemon[pokemon['Name'].isnull()])

     # Name    Type 1 Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
62  63  NaN  Fighting    NaN  65     105       60       60       70     95

    Generation  Legendary
62           1      False

In [7]:
print(pokemon['Name'][61])
print(pokemon['Name'][pokemon['Name'].isnull()])
print(pokemon['Name'][63])

Mankey
62    NaN
Name: Name, dtype: object
Growlithe

In [8]:
pokemon['Name'][62] = "Primeape" #llenando el campo con el naombre del pokemon faltante

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [9]:
#llenando los datos con null, 
pokemon["Type 2"]=pokemon["Type 2"].fillna("null")

In [10]:
pokemon.isna().sum()

#             0
Name          0
Type 1        0
Type 2        0
HP            0
Attack        0
Defense       0
Sp. Atk       0
Sp. Def       0
Speed         0
Generation    0
Legendary     0
dtype: int64

In [11]:
# Tomando columnas importantes
pokemon=pokemon[['HP','Attack','Defense','Sp. Atk','Sp. Def','Speed','Legendary']] 

# Este elimina las filas que tengan algun nulo, dropna elimina datos nulos
pokemon=pokemon.dropna() 
#Luego eliminados los duplicados
pokemon=pokemon.drop_duplicates()

In [12]:
pokemon.head()

   HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  Legendary
0  45      49       49       65       65     45      False
1  60      62       63       80       80     60      False
2  80      82       83      100      100     80      False
3  80     100      123      122      120     80      False
4  39      52       43       60       50     65      False

In [13]:
pokemonDatax=pokemon[['HP','Attack','Defense','Sp. Atk','Sp. Def','Speed']]  #los datax son las datos de entradas
pokemonDatay=pokemon[['Legendary']] #datay son los datos de salida
print(pokemonDatay.head(),"\n", pokemonDatax.head())  #mostrar

   Legendary
0      False
1      False
2      False
3      False
4      False
    HP  Attack  Defense  Sp. Atk  Sp. Def  Speed
0  45      49       49       65       65     45
1  60      62       63       80       80     60
2  80      82       83      100      100     80
3  80     100      123      122      120     80
4  39      52       43       60       50     65