<a href="https://colab.research.google.com/github/TonyMB17/Pokemon/blob/main/Pokemon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import pandas as pd #libreria especializada en el manejo y análisis de estructuras de datos.
pokemon = pd.read_csv('pokemon.csv')

In [15]:
pokemon.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,5,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [16]:
pd.unique(pokemon['Legendary'])#Mostrando los valores de pokemon legendario

array([False,  True])

In [17]:
pokemon.isna().sum()

#               0
Name            1
Type 1          0
Type 2        386
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

In [18]:
#pokemon faltante
print(pokemon[pokemon['Name'].isnull()])

     # Name    Type 1 Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
62  63  NaN  Fighting    NaN  65     105       60       60       70     95

    Generation  Legendary
62           1      False

In [19]:
print(pokemon['Name'][61])
print(pokemon['Name'][pokemon['Name'].isnull()])
print(pokemon['Name'][63])

Mankey
62    NaN
Name: Name, dtype: object
Growlithe

In [20]:
pokemon['Name'][62] = "Primeape" #llenando el campo con el naombre del pokemon faltante

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [21]:
#llenando los datos con null, 
pokemon["Type 2"]=pokemon["Type 2"].fillna("null")

In [22]:
pokemon.isna().sum()

#             0
Name          0
Type 1        0
Type 2        0
HP            0
Attack        0
Defense       0
Sp. Atk       0
Sp. Def       0
Speed         0
Generation    0
Legendary     0
dtype: int64

In [23]:
# Tomando columnas importantes
pokemon=pokemon[['HP','Attack','Defense','Sp. Atk','Sp. Def','Speed','Legendary']] 

# Este elimina las filas que tengan algun nulo, dropna elimina datos nulos
pokemon=pokemon.dropna() 
#Luego eliminados los duplicados
pokemon=pokemon.drop_duplicates()

In [24]:
pokemon.head()

   HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  Legendary
0  45      49       49       65       65     45      False
1  60      62       63       80       80     60      False
2  80      82       83      100      100     80      False
3  80     100      123      122      120     80      False
4  39      52       43       60       50     65      False

In [25]:
pokemonDatax=pokemon[['HP','Attack','Defense','Sp. Atk','Sp. Def','Speed']]  #los datax son las datos de entradas
pokemonDatay=pokemon[['Legendary']] #datay son los datos de salida
print(pokemonDatay.head(),"\n", pokemonDatax.head())  #mostrar

   Legendary
0      False
1      False
2      False
3      False
4      False
    HP  Attack  Defense  Sp. Atk  Sp. Def  Speed
0  45      49       49       65       65     45
1  60      62       63       80       80     60
2  80      82       83      100      100     80
3  80     100      123      122      120     80
4  39      52       43       60       50     65

In [26]:
pokemon.describe() #El método se utiliza para calcular algunos datos estadísticos

               HP      Attack     Defense     Sp. Atk     Sp. Def       Speed
count  779.000000  779.000000  779.000000  779.000000  779.000000  779.000000
mean    69.168164   79.021823   73.657253   72.287548   71.653402   67.761232
std     25.589979   32.646400   31.375565   32.720001   27.891371   29.067415
min      1.000000    5.000000    5.000000   10.000000   20.000000    5.000000
25%     50.000000   55.000000   50.000000   48.000000   50.000000   45.000000
50%     65.000000   75.000000   70.000000   65.000000   70.000000   65.000000
75%     80.000000  100.000000   90.000000   94.000000   90.000000   90.000000
max    255.000000  190.000000  230.000000  194.000000  230.000000  180.000000

In [27]:
#se divide en intervalos
pd.cut(pokemonDatax['HP'],[0,20,40,60,80,100,120,140,160,180,200,220,240,260])

0      (40, 60]
1      (40, 60]
2      (60, 80]
3      (60, 80]
4      (20, 40]
         ...
795    (40, 60]
796    (40, 60]
797    (60, 80]
798    (60, 80]
799    (60, 80]
Name: HP, Length: 779, dtype: category
Categories (13, interval[int64, right]): [(0, 20] < (20, 40] < (40, 60] < (60, 80] < ... <
                                          (180, 200] < (200, 220] < (220, 240] < (240, 260]]

In [28]:
#remplazando el valor de pokemonDatax por los intervalos HP
pokemonDatax['HP']=pd.cut(pokemonDatax['HP'],[0,20,40,60,80,100,120,140,160,180,200,220,240,260])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [29]:
pd.cut(pokemonDatax['Attack'],[0,20,40,60,80,100,120,140,160,180,200])

0        (40, 60]
1        (60, 80]
2       (80, 100]
3       (80, 100]
4        (40, 60]
          ...
795     (80, 100]
796    (140, 160]
797    (100, 120]
798    (140, 160]
799    (100, 120]
Name: Attack, Length: 779, dtype: category
Categories (10, interval[int64, right]): [(0, 20] < (20, 40] < (40, 60] < (60, 80] < ... <
                                          (120, 140] < (140, 160] < (160, 180] < (180, 200]]

In [30]:
#remplazando el valor de pokemonDatax por los intervalos HP
pokemonDatax['Attack']=pd.cut(pokemonDatax['Attack'],[0,20,40,60,80,100,120,140,160,180,200])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [31]:
pd.cut(pokemonDatax['Defense'],[0,20,40,60,80,100,120,140,160,180,200,220,240])#dando intervalo de Defense 230

0        (40, 60]
1        (60, 80]
2       (80, 100]
3      (120, 140]
4        (40, 60]
          ...
795    (140, 160]
796    (100, 120]
797      (40, 60]
798      (40, 60]
799    (100, 120]
Name: Defense, Length: 779, dtype: category
Categories (12, interval[int64, right]): [(0, 20] < (20, 40] < (40, 60] < (60, 80] < ... <
                                          (160, 180] < (180, 200] < (200, 220] < (220, 240]]

In [32]:
#remplazando el valor de pokemonDatax por los intervalos Defense
pokemonDatax['Defense']=pd.cut(pokemonDatax['Defense'],[0,20,40,60,80,100,120,140,160,180,200,220,240])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [33]:
pd.cut(pokemonDatax['Sp. Atk'],[10,20,30,40,50,60,70,80,90,100,110,120,130,140,150,160,170,180,190,200])

0        (60, 70]
1        (70, 80]
2       (90, 100]
3      (120, 130]
4        (50, 60]
          ...
795     (90, 100]
796    (150, 160]
797    (140, 150]
798    (160, 170]
799    (120, 130]
Name: Sp. Atk, Length: 779, dtype: category
Categories (19, interval[int64, right]): [(10, 20] < (20, 30] < (30, 40] < (40, 50] < ... <
                                          (160, 170] < (170, 180] < (180, 190] < (190, 200]]

In [34]:
#remplazando el valor de pokemonDatax por los intervalos Sp. Atk
pokemonDatax['Sp. Atk']=pd.cut(pokemonDatax['Sp. Atk'],[10,20,30,40,50,60,70,80,90,100,110,120,130,140,150,160,170,180,190,200])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [35]:
pd.cut(pokemonDatax['Sp. Def'],[20,30,40,50,60,70,80,90,100,110,120,130,140,150,160,170,180,190,200,210,220,230])

0        (60, 70]
1        (70, 80]
2       (90, 100]
3      (110, 120]
4        (40, 50]
          ...
795    (140, 150]
796    (100, 110]
797    (120, 130]
798    (120, 130]
799      (80, 90]
Name: Sp. Def, Length: 779, dtype: category
Categories (21, interval[int64, right]): [(20, 30] < (30, 40] < (40, 50] < (50, 60] < ... <
                                          (190, 200] < (200, 210] < (210, 220] < (220, 230]]

In [36]:
pokemonDatax['Sp. Def']=pd.cut(pokemonDatax['Sp. Def'],[20,30,40,50,60,70,80,90,100,110,120,130,140,150,160,170,180,190,200,210,220,230])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [37]:
pd.cut(pokemonDatax['Speed'],[0,10,20,30,40,50,60,70,80,90,100,110,120,130,140,150,160,170,180])

0        (40, 50]
1        (50, 60]
2        (70, 80]
3        (70, 80]
4        (60, 70]
          ...
795      (40, 50]
796    (100, 110]
797      (60, 70]
798      (70, 80]
799      (60, 70]
Name: Speed, Length: 779, dtype: category
Categories (18, interval[int64, right]): [(0, 10] < (10, 20] < (20, 30] < (30, 40] < ... <
                                          (140, 150] < (150, 160] < (160, 170] < (170, 180]]

In [38]:
pokemonDatax['Speed']=pd.cut(pokemonDatax['Speed'],[0,10,20,30,40,50,60,70,80,90,100,110,120,130,140,150,160,170,180])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.